In [127]:
import pandas as pd
import numpy as np

from nltk.classify import NaiveBayesClassifier
from nltk.corpus import subjectivity
from nltk.sentiment import SentimentAnalyzer
from nltk.sentiment.util import *
from nltk.probability import FreqDist

In [128]:
lyrics = pd.read_csv('final_disney_songs_cleaned.csv')
lyrics["Lyrics"] = lyrics["Lyrics"].apply(str.strip).apply(lambda x: x.replace("  ", " ").replace("'s", ""))

In [180]:
remove_list = pd.read_csv("stop_words.csv")
remove_list = list(remove_list["words"])
remove_list.append("la")
remove_list.append("they're")
remove_list.append("gonna")
remove_list.append("ya")
remove_list.append("'i")
remove_list.append("hey")
remove_list.append("hey")
remove_list.append("can'twhat")
remove_list.append("yeah")
remove_list.append("'cause")
remove_list.append("ha")
remove_list.append("he'll")
remove_list.append("gotta")
remove_list.append("ooh")
remove_list.append("'em")
remove_list.append("i'd")
remove_list.append("ain't")
remove_list.append("da")
remove_list.append("till")

In [181]:
def remove_stop(arr):
    arr = list(filter(None, arr))
    arr = [word for word in arr if word.strip() not in remove_list]
    return arr

In [182]:
arr = (lyrics["Lyrics"]
       .replace("  ", " ")
       .str.cat(sep=" ").split(" "))
arr = list(filter(None, arr))
arr = [word for word in arr if word.strip() not in remove_list]
df = pd.DataFrame({"lyrics": arr, "count": [0]*len(arr)})

In [241]:
#don't run again!!
counts = df.groupby('lyrics').count().sort_values('count', ascending=False).reset_index()
over100 = counts.loc[counts['count'] > 150]
over100["lyrics"] = over100["lyrics"].apply(lambda x: x.upper())
over100.to_csv("over100.csv", mode='a', header=True)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [260]:
over100 = counts.loc[counts['count'] > 150]
over100.shape[0]

26

In [261]:
relationships = lyrics.copy()
relationships["Lyrics"] = relationships["Lyrics"].apply(lambda x: np.array((x.split(" "))))
relationships ["Lyrics"] = relationships["Lyrics"].apply(stop)

In [262]:
connections = pd.DataFrame(columns=["origin", "originId", "target", "targetId", "movie", "song"])
topwords = over100.reset_index()["lyrics"]
index = 0
for origin in range(len(topwords)):
    for target in range(len(topwords)):
        for row in range(relationships.shape[0]):
            if origin != target:
                if topwords[origin] in relationships.iloc[row]["Lyrics"]:
                    if topwords[target] in relationships.iloc[row]["Lyrics"]:
                        connections.loc[index] = [topwords[origin], origin, topwords[target], target, relationships.iloc[row]["Movie"], relationships.iloc[row]["Song"]]
                        index += 1

In [263]:
connections.to_csv("connections.csv", mode='a', header=True)

In [264]:
node_connections = connections.groupby(["originId", "targetId"]).count().reset_index()[["originId", "targetId", "origin"]]
node_connections.to_csv("nodes_connections.csv", mode='a', header=True)

In [265]:
nodes = pd.DataFrame({'node': topwords})
nodes.to_csv("nodes.csv", mode='a', header=True)

In [258]:
connections.groupby(["originId", "targetId"]).count().reset_index().sort_values("origin", ascending=False)

      originId  targetId  origin  target  movie  song
1            0         2      67      67     67    67
120          2         0      67      67     67    67
2            0         3      66      66     66    66
180          3         0      66      66     66    66
181          3         1      62      62     62    62
62           1         3      62      62     62    62
121          2         1      61      61     61    61
61           1         2      61      61     61    61
300          5         0      59      59     59    59
60           1         0      59      59     59    59
0            0         1      59      59     59    59
4            0         5      59      59     59    59
5            0         6      58      58     58    58
360          6         0      58      58     58    58
3            0         4      56      56     56    56
240          4         0      56      56     56    56
182          3         2      54      54     54    54
122          2         3      54      54     54    54
7            0         8      51      51     51    51
480          8         0      51      51     51    51
243          4         3      50      50     50    50
183          3         4      50      50     50    50
9            0        10      49      49     49    49
185          3         6      49      49     49    49
363          6         3      49      49     49    49
599         10         0      49      49     49    49
10           0        11      48      48     48    48
124          2         5      48      48     48    48
659         11         0      48      48     48    48
302          5         2      48      48     48    48
...        ...       ...     ...     ...    ...   ...
3466        58        45       1       1      1     1
3467        58        46       1       1      1     1
3471        58        50       1       1      1     1
2977        50         6       1       1      1     1
3473        58        52       1       1      1     1
3478        58        57       1       1      1     1
3480        58        60       1       1      1     1
1558        26         4       1       1      1     1
409          6        50       1       1      1     1
2996        50        35       1       1      1     1
2997        50        38       1       1      1     1
2998        50        40       1       1      1     1
3008        50        58       1       1      1     1
3035        51        26       1       1      1     1
3033        51        24       1       1      1     1
2548        42        52       1       1      1     1
3024        51        15       1       1      1     1
2555        42        59       1       1      1     1
1125        18        50       1       1      1     1
3420        57        58       1       1      1     1
3007        50        55       1       1      1     1
3440        58        17       1       1      1     1
3006        50        54       1       1      1     1
2140        35        58       1       1      1     1
3003        50        47       1       1      1     1
3002        50        46       1       1      1     1
3001        50        45       1       1      1     1
2132        35        50       1       1      1     1
3439        58        16       1       1      1     1
2790        46        58       1       1      1     1

[3598 rows x 6 columns]

In [291]:
time = relationships.loc[relationships["Lyrics"].apply(lambda x: "eyes" in x)]
time["eyes"] = time["Lyrics"].apply(lambda x: sum(np.array(x) == "eyes"))
mergetime = gross.merge(time, how="inner", left_on="movie_title", right_on="Movie")

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [292]:
mergetime

,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross,Movie,Song,Lyrics,eyes
0,Lady and the Tramp,"Jun 22, 1955",Drama,G,"$93,600,000",1236035515,Lady and the Tramp,Bella Notte,"[night, beautiful, night, call, bella, notte, ...",2
1,Lady and the Tramp,"Jun 22, 1955",Drama,G,"$93,600,000",1236035515,Lady and the Tramp,La La Lu,"[lu, lu, star, sweeper, sweep, stardust, lu, l...",1
2,Sleeping Beauty,"Jan 29, 1959",Drama,NaN,"$9,464,608",21505832,Sleeping Beauty,Once Upon a Dream,"[walked, dream, gleam, eyes, familiar, gleam, ...",2
3,101 Dalmatians,"Jan 25, 1961",Comedy,G,"$153,000,000",1362870985,101 Dalmatians,Cruella De Vil,"[cruella, de, vil, cruella, de, vil, scare, ev...",1
4,101 Dalmatians,"Nov 27, 1996",Comedy,G,"$136,189,294",258728898,101 Dalmatians,Cruella De Vil,"[cruella, de, vil, cruella, de, vil, scare, ev...",1
5,The Jungle Book,"Oct 18, 1967",Musical,Not Rated,"$141,843,000",789612346,The Jungle Book,Trust in Me,"[trust, shut, eyes, trust, sleep, safe, sound,...",2
6,The Jungle Book,"Dec 25, 1994",Adventure,PG,"$44,342,956",88930321,The Jungle Book,Trust in Me,"[trust, shut, eyes, trust, sleep, safe, sound,...",2
7,The Jungle Book,"Apr 15, 2016",Adventure,PG,"$364,001,123",364001123,The Jungle Book,Trust in Me,"[trust, shut, eyes, trust, sleep, safe, sound,...",2
8,The Many Adventures of Winnie the Pooh,"Mar 11, 1977",NaN,NaN,$0,0,The Many Adventures of Winnie the Pooh,Heffalumps and Woozles,"[black, brown, quick, slick, insincere, beware...",1
9,Aladdin,"Nov 11, 1992",Comedy,G,"$217,350,219",441969178,Aladdin,A Whole New World,"[shining, shimmering, splendid, princess, hear...",2
10,Aladdin,"Nov 11, 1992",Comedy,G,"$217,350,219",441969178,Aladdin,A Whole New World (Single),"[shining, shimmering, splendid, princess, hear...",2
11,The Nightmare Before Christmas,"Oct 13, 1993",Musical,PG,"$50,408,318",100026637,The Nightmare Before Christmas,Oogie Boogie's Song,"[well, well, well, sandy, claws, huh, scared, ...",1
12,The Nightmare Before Christmas,"Oct 13, 1993",Musical,PG,"$50,408,318",100026637,The Nightmare Before Christmas,This Is Halloween,"[boys, girls, age, wouldn't, strange, town, ha...",1
13,The Nightmare Before Christmas,"Oct 13, 1993",Musical,PG,"$50,408,318",100026637,The Nightmare Before Christmas,What's This,"[color, white, things, air, eyes, dreaming, wa...",2
14,A Goofy Movie,"Apr 7, 1995",Comedy,G,"$35,336,439",68479579,A Goofy Movie,Stand Out,"[open, eyes, picture, fixed, memory, driven, r...",1
15,Pocahontas,"Jun 10, 1995",Adventure,G,"$141,579,773",274370957,Pocahontas,If I Never Knew You,"[knew, felt, love, inkling, precious, life, he...",2
16,Hercules,"Jun 13, 1997",Adventure,G,"$99,112,101",182029412,Hercules,A Star Is Born,"[shout, mountaintops, star, born, time, pullin...",2
17,Mulan,"Jun 19, 1998",Adventure,G,"$120,620,254",216807832,Mulan,A Girl Worth Fighting For,"[long, time, marching, battle, thundering, her...",1
18,Mulan,"Jun 19, 1998",Adventure,G,"$120,620,254",216807832,Mulan,True to Your Heart,"[baby, knew, meant, deep, soul, destiny, unsur...",5
19,The Tigger Movie,"Feb 11, 2000",Adventure,G,"$45,542,421",71228678,The Tigger Movie,Your Heart Will Lead You Home,"[sunny, days, starry, nights, lazy, afternoons...",1
20,The Jungle Book 2,"Feb 14, 2003",Adventure,G,"$47,901,582",66966883,The Jungle Book 2,Jungle Rhythm,"[morning, sun, peeks, mountains, rhinos, rub, ...",1
21,Brother Bear,"Oct 24, 2003",Adventure,G,"$85,336,277",119218333,Brother Bear,Great Spirits,"[earth, young, air, sweet, mountains, kissed, ...",5
22,Brother Bear,"Oct 24, 2003",Adventure,G,"$85,336,277",119218333,Brother Bear,Look Through My Eyes,"[things, life, learn, time, waiting, keep, bel...",10
23,Brother Bear,"Oct 24, 2003",Adventure,G,"$85,336,277",119218333,Brother Bear,Transformation (Phil Collins),"[place, fear, reason, heart, turned, understan...",2
24,Pooh's Heffalump Movie,"Feb 11, 2005",Adventure,G,"$18,098,433",23801835,Pooh's Heffalump Movie,Little Mister Roo,"[mister, roo, reaching, moon, things, time, dr...",1
25,Pooh's Heffalump Movie,"Feb 11, 2005",Adventure,G,"$18,098,433",23801835,Pooh's Heffalump Movie,The Horribly Hazardous Heffalumps!,"[heffalump, fiery, eyes, tail, spike, claws, p...",1
26,Meet the Robinsons,"Mar 30, 2007",Adventure,G,"$97,822,171",119860589,Meet the Robinsons,The Future Has Arrived,"[future, arrived, doubt, future, better, bette...",1
27,Enchanted,"Nov 21, 2007",Romantic Comedy,PG,"$127,706,877",156074310,Enchanted,That's How You Know,"[love, love, love, love, love, love, love, lov...",1
28,High School Musical 3: Senior Year,"Oct 24, 2008",Musical,G,"$90,559,416",106308538,High School Musical 3: Senior Year,A Night to Remember,"[guess, official, ready, night, nights, night,...",1
29,High School Musical 3: Senior Year,"Oct 24, 2008",Musical,G,"$90,559,416",106308538,High School Musical 3: Senior Year,Can I Have This Dance,"[hand, breath, pull, close, step, keep, eyes, ...",1
30,Moana,"Nov 23, 2016",Adventure,PG,"$246,082,029",246082029,Moana,You're Welcome,"[happening, face, face, greatness, strange, fe...",1

In [132]:
time_love = lyrics.copy()
time_love["time"] = time_love["Lyrics"].apply(lambda x: sum(np.array((x.split(" ")))=='time'))
#time_love.groupby("Movie")["time"].sum()

In [133]:
from collections import Counter

def most_common(lst):
    data = Counter(lst)
    return data.most_common(1)[0][0]

def stop(lst):
    arr = list(filter(None, lst))
    arr = [word for word in arr if word.strip() not in remove_list]
    return arr

In [134]:
lyrics.groupby("Movie").count().reset_index().sort_values("Song", ascending=False).head()

                                           Movie  Song  Lyrics
49                                  Mary Poppins    17      17
36                                      Frozen 2    14      14
42  High School Musical: The Musical: The Series    13      13
94                                The Lion Guard    13      13
81                                  Teen Beach 2    12      12

In [135]:
#most used words
words = df.groupby("lyrics").count().sort_values("count", ascending=False).reset_index()
words.head()

  lyrics  count
0   time    575
1   love    504
2    day    429
3  heart    370
4   find    327

In [136]:
#words in movie
movies_words = lyrics.assign(Count = lyrics["Lyrics"].str.split().apply(len)).groupby("Movie")["Count"].sum().sort_values(ascending=False).to_frame().reset_index()
movies_words.head()

                        Movie  Count
0       High School Musical 2   4085
1        Mary Poppins Returns   4006
2  Camp Rock 2: The Final Jam   3992
3               Descendants 3   3782
4                   Camp Rock   3778

In [137]:
gross = pd.read_csv("disney_movies_total_gross.csv")
gross["inflation_adjusted_gross"] = gross["inflation_adjusted_gross"].apply(lambda x: int(x.replace("$", "").replace(",", "")))

In [138]:
gross.sort_values("inflation_adjusted_gross", ascending=False).head()
#gross.groupby("genre")["inflation_adjusted_gross"].count().sort_values()

,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross
0,Snow White and the Seven Dwarfs,"Dec 21, 1937",Musical,G,"$184,925,485",5228953251
1,Pinocchio,"Feb 9, 1940",Adventure,G,"$84,300,000",2188229052
2,Fantasia,"Nov 13, 1940",Musical,G,"$83,320,000",2187090808
8,101 Dalmatians,"Jan 25, 1961",Comedy,G,"$153,000,000",1362870985
6,Lady and the Tramp,"Jun 22, 1955",Drama,G,"$93,600,000",1236035515

In [139]:
gross_lyrics = gross.merge(movies_words, how="inner", left_on="movie_title", right_on="Movie")
gross_lyrics.sort_values("Count", ascending=False).head()

,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross,Movie,Count
42,High School Musical 3: Senior Year,"Oct 24, 2008",Musical,G,"$90,559,416",106308538,High School Musical 3: Senior Year,3344
22,The Nightmare Before Christmas,"Oct 13, 1993",Musical,PG,"$50,408,318",100026637,The Nightmare Before Christmas,3206
20,Beauty and the Beast,"Nov 13, 1991",Musical,G,"$218,951,625",363017667,Beauty and the Beast,2381
49,Frozen,"Nov 22, 2013",Adventure,PG,"$400,738,009",414997174,Frozen,2212
51,Moana,"Nov 23, 2016",Adventure,PG,"$246,082,029",246082029,Moana,2199

Sentiment Analysis

In [140]:
lovetonight_token = lyrics.loc[398]["Lyrics"].split(" ")

In [141]:
fdist = FreqDist(lovetonight_token)
fdist.most_common(4)

[('the', 16), ('i', 6), ('in', 6), ('love', 6)]

In [142]:
import matplotlib.pyplot as plt
fdist.plot(30,cumulative=False)
plt.show()

In [143]:
arr = list(filter(None, lovetonight_token))
arr = [word for word in arr if word.strip() not in remove_list]

In [144]:
lyrics.groupby("Movie").sum().reset_index()["Movie"]

0                                     101 Dalmatians
1         101 Dalmatians 2: Patch's London Adventure
2                                      A Goofy Movie
3                                  A Wrinkle in Time
4                                            Aladdin
5                              Aladdin (Live-Action)
6                    Aladdin and the King of Thieves
7                       Aladdin: The Return of Jafar
8                                Alice in Wonderland
9                                              Bambi
10                                           Bambi 2
11                              Beauty and the Beast
12                Beauty and the Beast (live-action)
13     Beauty and the Beast: The Enchanted Christmas
14                          Bedknobs and Broomsticks
15                                              Bolt
16                                             Brave
17                                      Brother Bear
18                                    Brother Bear 2
19                                         Camp Rock
20                        Camp Rock 2: The Final Jam
21                                              Cars
22                                            Cars 3
23                                 Christopher Robin
24                                        Cinderella
25                   Cinderella II: Dreams Come True
26                   Cinderella III: A Twist in Time
27                                              Coco
28                                     Descendants 2
29                                     Descendants 3
                           ...
93                                 The Jungle Book 2
94                                    The Lion Guard
95                                     The Lion King
96                       The Lion King (Live-Action)
97                               The Lion King 1 1/2
98                    The Lion King 2: Simba's Pride
99                                The Little Mermaid
100          The Little Mermaid 2: Return to the Sea
101            The Little Mermaid: Ariel's Beginning
102           The Many Adventures of Winnie the Pooh
103                   The Nightmare Before Christmas
104                        The Princess and the Frog
105                                     The Rescuers
106                           The Sword in the Stone
107                             The Three Caballeros
108                                 The Tigger Movie
109                                      Tinker Bell
110           Tinker Bell and the Great Fairy Rescue
111     Tinker Bell and the Legend of the Neverbeast
112                Tinker Bell and the Lost Treasure
113                 Tinker Bell and the Pirate Fairy
114                 Tinker Bell: Secret of the Wings
115                                        Toy Story
116                                      Toy Story 2
117                                      Toy Story 4
118                                  Treasure Planet
119                                  Winnie the Pooh
120                                   Wreck-it Ralph
121                                    Z-O-M-B-I-E-S
122                                  Z-O-M-B-I-E-S 2
Name: Movie, Length: 123, dtype: object

In [145]:
years = pd.read_csv('years.csv')[["movie", "year"]]

In [146]:
lyric = years.merge(lyrics, right_on="Movie", left_on="movie").drop("movie", axis=1)

In [147]:
most_pop = lyrics.copy()
grouped_pop = most_pop.groupby("Movie")["Lyrics"].sum().to_frame()["Lyrics"].apply((lambda x: np.array(x.split(" ")))).to_frame()
grouped_pop["Lyrics"].apply(stop).apply(most_common)
most_pop["word"] = most_pop["Lyrics"].apply((lambda x: np.array(x.split(" ")))).to_frame()["Lyrics"].apply(stop).apply(most_common)
top_words_song = most_pop.groupby("Movie")["word"].apply(list).to_frame()
lyric["count"] = lyric["Lyrics"].apply(lambda x: len(x.split(" ")))

In [148]:
average = lyric.groupby("year")["count"].apply(lambda x: int(x.mean())).to_frame()["count"]

In [149]:
lyric.loc[lyric["year"]=="2015"]

,year,Movie,Song,Lyrics,count
146,2015,Cinderella,A Dream Is a Wish,a dream is a wish your heart makes when you're...,57
147,2015,Cinderella,Bibbidi Bobbidi Boo,sala-gadoola-menchicka-boo-la bibbidi-bobbidi-...,47
148,2015,Cinderella,Cinderella (Main Title),cinderella you're as lovely as your name cinde...,68
149,2015,Cinderella,"Sing, Sweet Nightingale",the pear-shaped tone oh sing sweet nightingale...,57
150,2015,Cinderella,So This Is Love,so this is love humming so this is love so thi...,65
151,2015,Cinderella,The Work Song,cinderelly cinderelly night and day it cindere...,156

In [150]:
most_common_most_common = most_pop.groupby("word").count().sort_values(by="Song", ascending=False).reset_index()[["word", "Movie"]]

In [151]:
def add_ser(ser):
       return ser.str.cat(sep=" ").split(" ")

In [152]:
cop = lyric.copy()
cop = cop.groupby("year")["Lyrics"].apply(add_ser).to_frame()
cop["Lyrics"] = cop["Lyrics"].apply(stop)

In [153]:
common = cop["Lyrics"].apply(most_common).to_frame().assign(Averages=average)

In [221]:
common.to_csv("common.csv", mode='a', header=False)

In [154]:
common

         Lyrics  Averages
year
1937        dig        97
1940    strings        95
1941        fly        99
1942       drip       139
1944      heart       141
1946         ho       169
1948       blue       175
1949    merrily       170
1950       sing        75
1951        red       110
1953        tee       129
1955         lu       100
1959   princess        73
1964       chim       178
1971       road       203
1973       king       125
1977     dragon       159
1986    ratigan       175
1988       whoo       199
1989       girl       179
1991     gaston       238
1992        ali       196
1993  halloween       291
1994       king       197
1995       mine       219
1996    cruella        63
1997       star       174
1998      heart       271
1999      heart       191
2000    tiggers       197
2002       feel       190
2003       eyes       177
2004    anytime       167
2005       acre       133
2006     getcha       220
2007       love       270
2008       rock       273
2009        dig       188
2010       rock       263
2011    backson       241
2012     mor'du       197
2013         da       246
2015       sing        75
2016     dragon       250
2017       ride       255
2018      light       275
2019       time       240

In [294]:
from textblob import TextBlob

In [325]:
blob = TextBlob(lyrics["Lyrics"].loc[1])

In [326]:
for sentence in blob.sentences:
    print(sentence.sentiment.polarity)

0.2787878787878788

In [328]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/nicole/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [341]:
pol = []
for i in range(lyrics.shape[0]):  
    sentence = lyrics["Lyrics"].loc[i]
    pol.append(sid.polarity_scores(sentence))

In [343]:
lyrics["sentiment"] = pol

In [345]:
lyrics.to_csv("sentiment.csv", mode='a', header=True)

In [352]:
lyrics["compound"] = lyrics["sentiment"].apply(lambda x: x.get("compound"))

In [354]:
lyrics['neg'] = lyrics["sentiment"].apply(lambda x: x.get("neg"))
lyrics['pos'] = lyrics["sentiment"].apply(lambda x: x.get("pos"))
lyrics['neu'] = lyrics["sentiment"].apply(lambda x: x.get("neu"))

In [357]:
lyrics.loc[lyrics["Song"] == 'Can You Feel the Love Tonight']

,Movie,Song,Lyrics,sentiment,compound,neg,pos,neu
392,The Lion King,Can You Feel the Love Tonight,i can see what happening what and they don't h...,"{'neg': 0.081, 'neu': 0.671, 'pos': 0.248, 'co...",0.9909,0.081,0.248,0.671
393,The Lion King,Can You Feel the Love Tonight,there a calm surrender to the rush of day when...,"{'neg': 0.011, 'neu': 0.82, 'pos': 0.169, 'com...",0.9880,0.011,0.169,0.820
398,The Lion King (Live-Action),Can You Feel the Love Tonight,i can see what happening i can'twhat and they ...,"{'neg': 0.08, 'neu': 0.678, 'pos': 0.243, 'com...",0.9909,0.080,0.243,0.678

In [360]:
lyrics["group"] = lyrics["compound"].apply(lambda x: 1 if x>0 else 2)

In [362]:
lyrics.to_csv("sent.csv", mode='a', header=True)

In [371]:
lyrics.groupby("Movie")["compound"].apply(list)

Movie
101 Dalmatians                                                           [-0.8871, 0.6369, 0.9819]
101 Dalmatians 2: Patch's London Adventure                               [0.8944, -0.6369, 0.7219]
A Goofy Movie                                     [-0.9745, 0.9931, 0.8807, 0.9321, 0.9513, 0.966]
A Wrinkle in Time                                        [0.9843, 0.9917, -0.2816, 0.8991, 0.9919]
Aladdin                                          [0.9965, 0.0772, 0.9799, 0.9836, -0.1811, -0.6...
Aladdin (Live-Action)                            [0.9618, 0.9799, 0.9836, 0.9972, 0.9989, 0.366...
Aladdin and the King of Thieves                            [0.9857, 0.9922, 0.9544, 0.9871, 0.993]
Aladdin: The Return of Jafar                              [0.8448, 0.9869, 0.9894, 0.9963, 0.9373]
Alice in Wonderland                              [0.3818, 0.9894, -0.9523, 0.6597, 0.2732, -0.1...
Bambi                                                                     [0.9392, 0.9699, 0.9933]
Bambi 2                                                    [0.9081, 0.9929, 0.9261, 0.3182, 0.649]
Beauty and the Beast                             [-0.7627, -0.6297, 0.9966, 0.8376, 0.9975, 0.9...
Beauty and the Beast (live-action)               [0.9506, -0.4477, 0.926, 0.9335, -0.9887, 0.99...
Beauty and the Beast: The Enchanted Christmas             [0.9869, 0.9934, 0.9211, 0.9909, 0.9825]
Bedknobs and Broomsticks                          [0.9734, 0.9794, 0.7326, 0.9174, 0.9962, 0.7171]
Bolt                                                                      [0.9826, 0.0772, 0.9616]
Brave                                                            [0.9645, 0.5325, -0.9774, 0.8689]
Brother Bear                                     [0.9969, 0.9768, 0.6513, 0.8834, -0.0258, 0.9991]
Brother Bear 2                                                     [0.9974, 0.7017, 0.998, 0.9895]
Camp Rock                                        [0.9824, 0.9239, 0.9963, -0.5696, 0.9024, 0.99...
Camp Rock 2: The Final Jam                       [0.9895, 0.3369, 0.9247, 0.9737, 0.9984, -0.01...
Cars                                                                      [0.8699, 0.8807, 0.6782]
Cars 3                                                                            [0.9709, 0.0526]
Christopher Robin                                                         [0.6369, 0.7506, 0.8858]
Cinderella                                           [0.9432, 0.0, 0.9313, 0.9891, 0.9778, 0.9568]
Cinderella II: Dreams Come True                                            [0.9253, 0.9762, 0.906]
Cinderella III: A Twist in Time                            [0.8658, 0.9792, 0.9961, 0.9811, 0.999]
Coco                                             [0.7963, -0.9274, 0.9861, 0.9929, 0.988, -0.90...
Descendants 2                                    [0.9982, -0.9943, 0.9597, 0.7365, -0.9427, 0.9...
Descendants 3                                    [0.9971, 0.4486, 0.9877, 0.9581, 0.8902, -0.83...
                                                                       ...
The Jungle Book 2                                                          [0.9723, 0.908, 0.9861]
The Lion Guard                                   [0.9964, 0.9989, 0.995, 0.9925, 0.8442, 0.9887...
The Lion King                                      [0.9833, 0.9909, 0.988, 0.9841, 0.233, -0.7686]
The Lion King (Live-Action)                      [0.9818, 0.9909, 0.9841, 0.7875, -0.3795, -0.9...
The Lion King 1 1/2                                                       [0.8689, 0.9775, 0.8037]
The Lion King 2: Simba's Pride                    [0.9153, 0.9965, -0.9794, -0.996, 0.993, 0.9848]
The Little Mermaid                               [0.9081, 0.0, 0.9967, 0.952, 0.8274, 0.2023, -...
The Little Mermaid 2: Return to the Sea                           [0.9818, 0.9886, 0.9875, 0.9963]
The Little Mermaid: Ariel's Beginning            [0.4588, 0.9763, 0.9578, -0.5423, 0.022, -0.5348]
The Many Adventures of Winnie the Pooh           [0.9649, 0.9646, -0.5478, 0.8, 0.936, -0.0323,...
The Nightmare Before Christmas                   [0.7366, 0.8118, 0.8636, 0.9832, 0.9687, -0.31...
The Princess and the Frog                        [0.5686, 0.9933, 0.7076, 0.8964, 0.9216, 0.994...
The Rescuers                                               [0.9762, 0.9899, 0.942, 0.9442, 0.4404]
The Sword in the Stone                                   [-0.5994, -0.0258, 0.2144, 0.9349, 0.765]
The Three Caballeros                                                       [0.8014, 0.9639, 0.988]
The Tigger Movie                                   [0.9954, 0.7893, 0.997, 0.9841, 0.8271, 0.9973]
Tinker Bell                                      [0.9966, 0.9442, 0.9923, 0.9905, 0.9861, 0.998...
Tinker Bell and the Great Fairy Rescue                                            [0.9592, 0.7741]
Tinker Bell and the Legend of the Neverbeast                             [-0.4133, 0.2691, -0.128]
Tinker Bell and the Lost Treasure                                 [0.9081, 0.9972, 0.9805, 0.7783]
Tinker Bell and the Pirate Fairy                                                   [-0.96, 0.9826]
Tinker Bell: Secret of the Wings                                                  [0.9768, 0.8935]
Toy Story                                                                [-0.0382, 0.8933, 0.9931]
Toy Story 2                                                                       [0.9943, 0.7264]
Toy Story 4                                                                      [0.8456, -0.4429]
Treasure Planet                                                                  [0.9217, -0.5962]
Winnie the Pooh                                   [0.7491, 0.9477, 0.9989, 0.9675, 0.9829, 0.9643]
Wreck-it Ralph                                                                    [0.987, -0.9909]
Z-O-M-B-I-E-S                                    [0.998, 0.968, -0.9947, -0.992, 0.9975, 0.9962...
Z-O-M-B-I-E-S 2                                  [0.9657, -0.9989, -0.9791, 0.9991, 0.9629, 0.9...
Name: compound, Length: 123, dtype: object

In [379]:
neg = lyrics.sort_values("compound").head(8)
pos = lyrics.sort_values("compound", ascending=False).head(8)

In [394]:
neg_movies = lyrics.groupby("Movie")["compound"].mean().sort_values().head(20)
pos_movies = lyrics.groupby("Movie")["compound"].mean().sort_values(ascending=False).head(20)

In [395]:
#pos.to_csv('pos.csv', mode='a', header=True)
#neg.to_csv('neg.csv', mode='a', header=True)
pos_movies.to_csv('pos_movies.csv', mode='a', header=True)
neg_movies.to_csv('neg_movies.csv', mode='a', header=True)

In [393]:
moviesent = lyrics.groupby("Movie")["compound"].mean().sort_values()
moviesent.to_csv('movie_sent.csv', mode='a', header=True)

In [396]:
pos_movies

Movie
Sofia the First: The Floating Palace             0.997150
Planes                                           0.990533
Mulan (Live-Action)                              0.990100
The Little Mermaid 2: Return to the Sea          0.988550
Aladdin and the King of Thieves                  0.982480
Enchanted                                        0.979220
Elena of Avalor                                  0.978533
The Emperor's New Groove                         0.977867
Beauty and the Beast: The Enchanted Christmas    0.974960
Bambi                                            0.967467
Cinderella III: A Twist in Time                  0.964240
Teen Beach 2                                     0.963158
Mulan 2                                          0.962967
Tangled Before Ever After                        0.962950
Oliver and Company                               0.959660
Mary Poppins Returns                             0.957625
Tarzan                                           0.956875
The Jungle Book 2                                0.955467
Ralph Breaks the Internet                        0.952233
Aladdin: The Return of Jafar                     0.950940
Name: compound, dtype: float64

In [397]:
pos.head()

,Movie,Song,Lyrics,sentiment,compound,neg,pos,neu,group
257,Fun and Fancy Free,Say it With a Slap,when a bird loves a bird he can twitter when a...,"{'neg': 0.035, 'neu': 0.583, 'pos': 0.382, 'co...",0.9995,0.035,0.382,0.583,1
670,Teen Beach Movie,Like Me,when you meet a girl you like you should take ...,"{'neg': 0.026, 'neu': 0.576, 'pos': 0.398, 'co...",0.9994,0.026,0.398,0.576,1
284,High School Musical,Stick to the Status Quo,you can bet there nothing but net when i am in...,"{'neg': 0.022, 'neu': 0.624, 'pos': 0.354, 'co...",0.9994,0.022,0.354,0.624,1
678,Teen Beach 2,Best Summer Ever,sad to say our time come to an end time come t...,"{'neg': 0.028, 'neu': 0.638, 'pos': 0.334, 'co...",0.9993,0.028,0.334,0.638,1
198,Elena of Avalor,Festival of Love,dia de los muertos is my favorite day we honor...,"{'neg': 0.018, 'neu': 0.531, 'pos': 0.451, 'co...",0.9993,0.018,0.451,0.531,1

In [398]:
neg.head()

,Movie,Song,Lyrics,sentiment,compound,neg,pos,neu,group
576,Pocahontas,Savages,what can you expect from filthy little heathen...,"{'neg': 0.378, 'neu': 0.578, 'pos': 0.044, 'co...",-0.9994,0.378,0.044,0.578,2
746,Z-O-M-B-I-E-S 2,Flesh and Bone,hear it getting louder a call for revolution y...,"{'neg': 0.291, 'neu': 0.682, 'pos': 0.027, 'co...",-0.9989,0.291,0.027,0.682,2
387,The Lion Guard,Panic and Run,stripey stripey ooh stripey stripey stripey st...,"{'neg': 0.395, 'neu': 0.47, 'pos': 0.135, 'com...",-0.9987,0.395,0.135,0.470,2
189,Descendants 3,Rotten to the Core (D3 Remix),they say i'm trouble they say i'm bad so don't...,"{'neg': 0.31, 'neu': 0.644, 'pos': 0.046, 'com...",-0.9984,0.310,0.046,0.644,2
169,Disney's Descendants,Rotten to the Core,they say i'm trouble they say i'm bad they say...,"{'neg': 0.334, 'neu': 0.611, 'pos': 0.054, 'co...",-0.9981,0.334,0.054,0.611,2